body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: rgb(223, 223, 223);
}

ul {
  list-style-type: none;
}

.page-header__logo {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.pokemon-container {
  display: flex;
  justify-content: center;
}

.pokemonButton {
  font-family: inherit;
  font-size: 16px;
  border: none;
  color: white;
  text-align: center;
  background-color: rgb(0, 117, 190);
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.pokemonButton:hover {
  color: white;
}

.button-class:hover {
  transition: all 0.5s ease 0s;
  background-color: rgb(10, 40, 95);
  cursor: pointer;
}

#pokemon-modal {
  text-align: center;
}

.close {
  position: absolute;
  right: 1rem;
}

.modal-title {
  width: 100%;
  text-align: center;
}

.btn-secondary {
  background-color: #FB1B1B;
}
